<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>
<body>
    <div class="container">
        <hr>
        <h2>Categorias</h2>
        <a href="/admin/categories/new" class="btn btn-success">Criar nova categoria</a>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Título</th>
                    <th>Slug</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% categories.forEach(category => { %>
                <tr>
                        <th>Id: <%= category.id %> </th>
                        <th>Título: <%= category.title %> </th>
                        <th>Slug: <%= category.slug %></th>
                        <th><button class="btn btn-warning">Editar</button>
                            <form action="/categories/delete" method="post" style="display: inline;" onsubmit="deleteConfirmation(event, this)">
                                <input type="hidden" name="id" value="<%= category.id %>">
                                <button class="btn btn-danger">Deletar</button>
                            </form>
                            
                        </th>
                    <% }) %>
                </tr>
            </tbody>
        </table>
    </div>
</body>

<%- include ('../../partials/footer.ejs') %>
<script>
function deleteConfirmation(event, form){
    event.preventDefault(); //impede que o formulário seja submetido
    var response = confirm("Tem certeza que deseja excluir este item?")
    if(response){
        form.submit();
    }
}
</script>