<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>

<body>
    <div class="container">
        <hr>
        <h2>Cadastro de Usuário</h2>
        <a href="/admin/users/create" class="btn btn-success">Cadastrar</a>
        <hr>
        
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody>
                <% users.forEach(user => { %>
                <tr>
                        <td><%= user.id %></td>
                        <td><%= user.email %></td>
                        <td>
                            <a href="/user/edit/<%= user.id %>" class="btn btn-warning">Editar</a>
                            <form action="/users/delete" method="post" id="form" style="display: inline;" onsubmit="userdeleteConfrimation(event, this)">
                                <input type="hidden" name="id" value="<%= user.id %>">
                                <button type="submit" style="display: inline;" class="btn btn-danger">Deletar</button>
                            </form>
                        </td>
                    <% }) %>
                </tr>
            </tbody>
        </table>
    </div>
</body>

<%- include('../../partials/footer.ejs') %>

<script>
    function userdeleteConfrimation(event, form){
        event.preventDefault();
        var response = confirm("Tem certeza que deseja excluir sua conta?")
        if(response){
            form.submit();
        }

    }
</script>
